.fixed-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

:root {
  --bgcolor: linear-gradient(60deg, #ffea00e6, #cc0000, #77cc00);
  --txtcolor: #FF8800;
}

.bg-mycolor {
  background: var(--bgcolor) !important;
}

.txt-mycolor {
  color: var(--txtcolor) !important;
}

#menu {
  background: transparent !important;
}

#menu ul li a {
  color: white;
}

.ufooter {
  min-height: 400px;
}

.bfooter {
  min-height: 30px;
}

.marquee {
    height:250px;
    overflow:hidden;
}

.marquee-content{
    animation: scroll 15s linear infinite;
}

.marquee:hover .marquee-content{
    animation-play-state: paused;
}

@keyframes scroll{
    from{
        transform:translateY(-50%);
    }
    to{
        transform:translateY(0);
    }
}

.icon-box i{
    font-size:36px;
    color:#ff9900;
}

.account-card{
    border:1px solid #d5d9d9;
    border-radius:8px;
    transition:0.2s;
    padding: 20px;
}

.account-card:hover{
    border:1px solid #c7c7c7;
    box-shadow:0 2px 8px rgba(0,0,0,.12);
}

.fresh-bg{
    min-height:100vh;
    background: linear-gradient(
        135deg,
        #e8f9e4 0%,
        #d8f5cf 30%,
        #c8efc3 60%,
        #f7fff3 100%
    );
}
.nav-link-custom{
    color: white !important;
    font-weight: bold;
    text-decoration: none;
    padding: 2px 5px;
    line-height: 1.2;
    transition: .3s;
    border-bottom: 3px solid transparent;
}

.nav-link-custom:hover{
    color: #ffd700 !important;
}

.nav-link-custom.active{
    border-bottom:3px solid #fff;
    color:#fff !important;
}

.signout-btn{
    background: transparent;
    border: none;
    color: white;
   
    font-weight: bold;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: all .3s;
    cursor: pointer;
}

.signout-btn:hover{
    border-bottom: 3px solid #ffffff;
}

.signout-btn:focus,
.signout-btn:active{
    outline: none;
    box-shadow: none;
    border-bottom: 3px solid transparent;
}

