.fixed-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

:root {
  --bgcolor: linear-gradient(60deg, #ffea00e6, #cc0000, #77cc00);
  --txtcolor: #FF8800;
}

.bg-mycolor {
  background: var(--bgcolor) !important;
}

.txt-mycolor {
  color: var(--txtcolor) !important;
}

#menu {
  background: transparent !important;
}

#menu ul li a {
  color: white;
}

.ufooter {
  min-height: 400px;
}

.bfooter {
  min-height: 30px;
}

.marquee {
    height:250px;
    overflow:hidden;
}

.marquee-content{
    animation: scroll 15s linear infinite;
}

.marquee:hover .marquee-content{
    animation-play-state: paused;
}

@keyframes scroll{
    from{
        transform:translateY(-50%);
    }
    to{
        transform:translateY(0);
    }
}